/* gera uma animação básica quando a página é carregada */
@keyframes fallAnimation {
    
    0% {

        transform: translateY(-15%);
        opacity: 15%;
    }
    100% {

        transform: translateY(0);
        opacity: 100%;
    }
}

body {

    margin: 0;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.cartas {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 5vh;
    margin: 2em;
}

@media screen and (max-width: 750px) {

    #titulo {

    animation: 1.5s ease-out 0s 1 fallAnimation;
    background: #fcfae3;
    border-radius: 25px;

    padding-bottom: 0.5em;
    margin: 0;
    
    font-size: 9vw;
    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    line-height: 0;
    }
    #subtitulo {

    animation: 1.5s ease-out 0s 1 fallAnimation;
    background: #fcfae3;
    border-radius: 25px;

    padding: 5px;
    margin-top: 20;
    
    font-size: 5vw;
    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    font-weight: 500;
    }
}

@media screen and (min-width: 751px) {

    #titulo {

    animation: 1.5s ease-out 0s 1 fallAnimation;
    background: #fcfae3;
    border-radius: 25px;

    padding-bottom: 0.5em;
    margin: 0;
    
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    line-height: 0;
    }
    #subtitulo {

    animation: 1.5s ease-out 0s 1 fallAnimation;
    background: #fcfae3;
    border-radius: 25px;

    padding: 5px;
    margin-top: 20;
    
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    font-weight: 500;
    }
}

.form {

    padding: 2rem 2rem;
    text-align: center;
}

.read, .write {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 33vw;
    
    font-size: x-large;
    font-family: 'Lato', Times, serif;
    text-transform: uppercase;
    border: 15px solid #ebe7c4;
    padding: 1.2em 2em;
    margin: 0 auto;
}

input {

    font-size: x-large;
    font-family: 'Lato', Times, serif;
    font-weight: lighter;
    border-radius: 0.5em;
}

.legenda {

    font-weight: lighter;

}

#aviso {

    text-align: center;
    opacity: 80%;
    padding-bottom: 5vh;
}

#ou {

    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    font-weight: bolder;
    font-size: 20px;
}