/* gera uma animação básica quando a página é carregada */
@keyframes fallAnimation {
    
    0% {

        transform: translateY(-15%);
        opacity: 15%;
    }
    100% {

        transform: translateY(0);
        opacity: 100%;
    }
}

body {

    margin: 0;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#titulo {

    animation: 1.5s ease-out 0s 1 fallAnimation;
    background: #fcfae3;
    border-radius: 25px;

    padding: 30px;
    margin: 0;
    
    font-size: 400%;
    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    line-height: 0;
}

#subtitulo {

    animation: 1.5s ease-out 0s 1 fallAnimation;
    background: #fcfae3;
    border-radius: 25px;

    padding: 5px;
    margin-top: 20;
    
    font-size: 250%;
    text-transform: uppercase;
    font-family: 'Lato', Times, serif;
    font-weight: 500;
}

.form {

    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.read, .write {

    display: inline-block;
    font-size: x-large;
    font-family: 'Lato', Times, serif;
    text-transform: uppercase;
    border: 15px solid #ebe7c4;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin: 20px;
}

input {

    font-size: x-large;
    font-family: 'Lato', Times, serif;
    font-weight: lighter;
}

.legenda {

    font-weight: lighter;

}

#aviso {

    text-align: center;
    opacity: 60%;
    padding-bottom: 5vh;
}
